<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Timer</title>
  </head>
  <body>
    <input type="date" id="date-selector" />
    <button type="button" data-start>Start countdown</button>

    <div class="container">
      <div class="balloon white">
        <div class="star-red"></div>
        <div class="face">
          <div class="eye"></div>
          <div class="mouth happy"></div>
        </div>
        <div class="triangle"></div>
        <div class="string"></div>
      </div>
      <div class="balloon red">
        <div class="star"></div>
        <div class="face">
          <div class="eye"></div>
          <div class="mouth happy"></div>
        </div>
        <div class="triangle"></div>
        <div class="string"></div>
      </div>

      <div class="balloon blue">
        <div class="star"></div>
        <div class="face">
          <div class="eye"></div>
          <div class="mouth happy"></div>
        </div>
        <div class="triangle"></div>
        <div class="string"></div>
      </div>

    <div class="timer" id="timer">
      <div class="field days numbers">
        <span class="value" data-days></span>
        <span class="label">Days</span>
      </div>
      <div class="field hours numbers">
        <span class="value" data-hours></span><span class="label">Hours</span>
      </div>
      <div class="field minutes numbers">
        <span class="value" data-minutes></span>
        <span class="label">Minutes</span>
      </div>
      <div class="field seconds numbers">
        <span class="value" data-seconds></span>
        <span class="label">Seconds</span>
      </div>
    </div>
    <script src="../timer.js"></script>
  </body>
</html>
